<header class="fixed ">
	<div class="">
		<a href="{{ '/' | url }}" class="">
			{% set logoUrl = "/_site" + settings.logo %}
			{{ logoUrl | svgContents('text-mono-500 w-48') | safe }}
		</a>
	</div>
</header>