<!doctype html>
<html lang="{{ lang }}" class="h-full">

	<head>
		<title>{{ title }} | {{ settings.name }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ settings.description }}">

		<meta property="og:title" content="{{ title }} | {{ settings.name }}">
		<meta property="og:description" content="{{ settings.description }}">
		<meta property="og:image" content="{{ settings.image }}">
		<meta property="og:url" content="https://littleagnes.co.uk">
		<meta property="og:site_name" content="{{ settings.name }}">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image:alt" content="{{ settings.name }}">

		<link rel="alternate" hreflang="en" href="https://littleagnes.co.uk" />
		<link rel="alternate" hreflang="fr"	href="https://littleagnes.co.uk/fr/" />

		<link rel="dns-prefetch" href="https://identity.netlify.com">
		<link rel="stylesheet" href="/assets/css/style.css?v={% version %}"/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicons/site.webmanifest">
		<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#181818">
		<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#181818">
		<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script defer src="/assets/js/alpine.min.js"></script>
		<script defer src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
		<script defer src="/assets/js/map.js"></script>
		
		{% if settings.gtm %}
			<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','{{ settings.gtm }}');</script>
			<!-- End Google Tag Manager -->
		{% endif %}
	</head>

	<body class="flex flex-col h-full text-xl leading-7 text-gray-700 bg-gray-100 font-display lg:text-2xl lg:leading-9">

		{% include "partials/header.njk" %}

		<main class="h-full">
			{{ layoutContent | safe }}
			{% include "partials/footer.njk" %}
		</main>
		
		{% if settings.gtm %}
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.gtm }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		{% endif %}
	</body>

</html>