---
layout: layouts/base.njk
---
<section class="py-20">
	<div class="w-full wrapper-x wrapper-y">
		<h1 class="mb-10 text-4xl leading-10 text-center text-gray-900 lg:text-5xl font-display">{{ title }}</h1>

		<div class="max-w-2xl mx-auto mb-20 text-center font-display">{{ layoutContent | safe }}</div>

		<div class="max-w-4xl -mx-5 overflow-hidden bg-white rounded-lg shadow sm:mx-auto">
			
			<div class="xl:flex">
				
				<div class="flex-1 copy">
					<div class="px-10 py-3 text-white bg-gray-700">{{ catchphrase }}</div>
					<div class="px-10 py-6">
						<div class="mb-8">{{ emailus | markdownToHtml | safe }}</div>
						{% include "partials/form.njk" %}
					</div>
					
					
				</div>
				<div class="bg-gray-700 min-w-400 min-h-400" id="map"></div>
			</div>

		</div>
	</div>
</section>