/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

[x-cloak] { display: none; }


html {
	scroll-behavior: smooth;
}

.copy a, footer a {
	text-decoration: underline;
}

.button {
	@apply flex items-center px-5 py-3 text-xl leading-none text-white bg-gray-700 rounded shadow;
}
.button:hover {
	@apply bg-gray-800;
}


.wrapper-x {
	@apply px-8 mx-auto max-w-screen-xxl;
}
@screen sm { .wrapper-x { @apply px-10; } }
@screen md { .wrapper-x { @apply px-12; } }
@screen lg { .wrapper-x { @apply px-16; } }


/* purgecss start ignore */
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
